<!DOCTYPE html>
<html lang="en">
<head>
	<title>PreX Code Converter</title>
  <meta property="og:title" content="PreX Code" />
  <meta property="og:description" content="PreX Code | Kaliteli Kodlar İçin" />

  <meta property="og:image" content="https://cdn.discordapp.com/attachments/781941884032385024/784403091813695508/prexcode.png" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/*" href="https://cdn.discordapp.com/attachments/781941884032385024/784403091813695508/prexcode.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>


  
	<div class="container-contact100">
		<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>
 <img class="topright container" href="https://discord.gg/HfGn7wuekB" src="https://cdn.discordapp.com/attachments/781941884032385024/784403091813695508/prexcode.png" />
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
          V11 To V12
				</span>
<form method="post" action="/">
				<div class="wrap-input100 validate-input" data-validate = "Kodunuzu Girin!">
					<textarea class="input100" id="message" required name="message" placeholder="Kodunuz Buraya 
                                                                        "></textarea>
					<span class="focus-input100"></span>
				</div>
  <div class="container-contact100-form-btn">
					<button type="submit" class="contact100-form-btn">
            Dönüştür
					</button>
  
   
        <button>
          <a class= "cb-btn"href="https://various-descriptive-fiction.glitch.me/toplam">Çevrilen Kod Sayıları</a><!--Buraya kendi url nizi yazın /toplam dan öncesine-->
    </button>
          
        
					
    
    
				</div>
</form>


			<div class="contact100-more">
        
			 <span class="contact100-more-highlight"></span>
			</div>
		</div>
	</div>
 


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
